main {
    display: grid;
    place-items: center;
    place-content: space-between center;
    height: 100dvh;
    background: var(--work-color);
    padding: 15px 10px 30px;
    transition: 0.5s ease-in-out;
}

.break-background-color {
    background: var(--break-color);
}

.round__title {
    display: grid;
    align-content: center;
    width: fit-content;
    height: 42px;
    background: url(../../public/svg/cat.svg) no-repeat left center;
    background-size: 30px 30px;
    font-size: 42px;
    padding-left: 42px;
}

.tracker {
    display: grid;
    gap: 10px;
}

.timer {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.timer h1 {
    font-size: 96px;
}

.timer__minutes {
    width: 40%;
    text-align: right;
}

.timer__separator {
    width: 20%;
    text-align: center;
}

.timer__seconds {
    width: 40%;
    text-align-last: left;
}

.control__buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.control__buttons button {
    width: 160px;
    height: 40px;
}

.long__break__info {
    opacity: 0.75;
}