@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --work-color: black;
    --break-color: grey;
    --light-100: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--light-100);
}